

.image {
    max-width: 50%;
    height: auto; 
    max-height: 50%; 
}

.image-container {

    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 50px; /* Zaoblené horní rohy */
    border-top-right-radius: 50px;
}

.footer * {
    text-decoration: none;
    color:#ffaa00;
}


.interface {

    background: rgba(0, 0, 0, 0.7); 
    color: white; 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.button-link {
    display: inline-block; 
    background-color: #ffcc00; 
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 10px; 
    font-size: 25px; 
    text-align: center; 
    cursor: pointer; 
}

.header {
    background: rgba(0, 0, 0, 0.5);
    color: white; 
    padding: 20px;
    text-align: center;
}

body {
    background-image: url("/images/forest.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
    margin: 0;
}


